<!DOCTYPE html>
<html>
<head>
  <title>Elearning</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="" />
  <meta name="copyright" content="" />

<!--   <link rel="stylesheet" type="text/css" href="/stylesheets/kickstart.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="all" /> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
  <link rel="stylesheet" href="/stylesheets/custom.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
  <script type = "text/javascript" src="/javascripts/tinymce/tinymce.min.js"></script>
  <script src="/javascripts/main.js"> </script>
  <!-- <script type="text/javascript" src='//cdn.tinymce.com/4/tinymce.min.js'></script> -->
  <script>tinymce.init({
    selector:'#tinytextarea',
      theme: 'modern',
      width: 600,
      height: 300,
      plugins: [
        'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
        'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
        'save table contextmenu directionality emoticons template paste textcolor'
      ],
      content_css: 'css/content.css',
      toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons'
  });</script>
</head>
<body style="background-color: #F5F8FA;">

  <!-- Menu Horizontal -->
  <div class="ui small menu">
    <a class="item" href="/">Home</a>
    <a class="item" href="/classes">Classes</a>
    <div class="right menu">
      {{#if user}}
      <a class="item" href="/{{user.type}}s/{{user._id}}/profile"> <img class="ui avatar image" src="{{user.avatar_url}}">
          <span>{{user.username}}</span>
      </a>
      {{/if}}
    </div>
  </div>

  <div class="ui doubling stackable grid container">
    <div class="ui row">
    	<div class="twelve wide column">
      {{#if messages}}
        <div id="messagebox">
    		  <div class="ui blue message">
            {{{messages}}}
          </div>
        </div>
      {{/if}}
    		{{#if errors}}
    			{{#each errors}}
    				<div class="notice error">
    					<i class="icon-remove-sign icon-large"> </i>
    					{{msg}}
    					<a href="#close" class="icon-remove"> </a>
    				</div>
    			{{/each}}
    		{{/if}}
    		{{{body}}}
    	</div>

    	<div class="four wide column">
    		{{>login}}
        {{#if isHome }}
          {{>classes}}
        {{/if}}
    	</div>
    </div>
  </div>

</body>
</html>
