
{{#each instructor.classes}}
	<div class="ui segment">
	  <div class="ui item">

	    <div class="content">
		    <a class="ui header">{{{class_title}}}</a>
		    <div class="meta">
	        	<span class="price">ID: {{{class_id}}}</span>
	      	</div>
	      	<div class="description">
	        	<p>{{{class_description}}}</p>
	      	</div>
	      	<div class="extra">
		      	<a class="ui blue label" href="/classes/{{class_id}}/lessons"> View Lessons </a>
		        <a class="ui blue label" href="/instructors/classes/{{class_id}}/lessons/new"> Added Lesson </a>
		        <a class="ui blue label" href="/instructors/classes/{{class_id}}/edit"> Edit Class </a>
		        <a class="ui blue label" href="/classes/{{class_id}}/materials">Materials</a>
	      		<a class="ui blue label" href="/instructors/classes/{{class_id}}/students"> View List of students </a>
	      	</div>
	    </div>
	  </div>
	</div>
{{/each}}

<a class="ui blue button" href="/instructors/classes/new"> New Class </a>
