<h2> {{instructor.first_name}}'s Classes </h2>

<a href="/instructors/classes/new"> New Class </a>

<table cellspacing="0" cellpadding="0">
	<thread>
		<tr>
			<th> Class ID </th>
			<th> Class Name </th>
			<th> </th>
			<th> </th>
		</tr>
		<tbody>
			{{#each instructor.classes}}				
				<tr>
					<th> {{class_id}}</th>
					<th> {{{class_title}}} </th>
					<th> <a href="/classes/{{class_id}}/lessons"> View Lessons </a> </th>
					<th> <a href="/instructors/classes/{{class_id}}/lessons/new"> Added Lesson </a> </th>
					<th> <a href="/instructors/classes/{{class_id}}/edit"> Edit Class </a> </th>
					<th>
						<form method = "post" action="/instructors/classes/{{class_id}}/drop">
							<div>
								<input type="submit" class="button" value="Drop Class" >
							</div>
						</form>
					</th>
				</tr>
			{{/each}}
		</tbody>
	</thread>
</table>