<h2>Your profile</h2>

<form id='regForm' action='/instructors/{{user.id}}/update' method='post' class="ui form">
  <div class="field">
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name" placeholder="First Name" value="{{instructor.first_name}}">
  </div>
  <div class="field">
    <label>Last Name:</label>
    <input type="text" name="last_name" placeholder="Last Name" value="{{instructor.last_name}}" >
  </div>
   <div class="field">
    <label>Email:</label>
    <input type="text" name="email" placeholder="Last Name" value="{{instructor.email}}" >
  </div>
  <div class="field">
    <label>UserName:</label>
    <input type="text" name="username" placeholder="User name" value="{{user.username}}" >
  </div>

  <button class="ui primary button" type="submit">Submit</button>
</form>