<style>
	table {
    border-collapse: separate;
    border-spacing: 1em 1em;
	}
</style>

<h2> Lessons </h2>
<h2> {{class.title}}'s Classes </h2>
<div class="ui segment">
<table>
	<thead>
		<tr>
			<th> Lesson Number </th>
			<th> Lesson Title </th>
			<th> </th>
		</tr>
	</thead>
	<tbody>
		{{#each class.lessons}}
			<tr>
				<th> {{lesson_number}}</th>
				<th> {{{lesson_title}}} </th>
				<th> <a href="/classes/{{../class._id}}/lessons/{{lesson_number}}"> View Lessons </a> </th>
			</tr>
		{{/each}}
	</tbody>
</table>
</div>

