<style>
	table {
    border-collapse: separate;
    border-spacing: 1em 1em;
	}
</style>

<input id="class_id" type="hidden", name="class_id" value="{{class.id}}">
<input id="user_id" type="hidden" name="user_id" value="{{user.id}}">

<h2> Lessons </h2>

<h2> {{class.title}}'s Classes </h2>
<div class="ui segment">
<table>
	<thead>
		<tr>
			<th> Lesson Number </th>
			<th> Lesson Title </th>
			<th> </th>
		</tr>
	</thead>
	<tbody>
		{{#each class.lessons}}
			<tr>
				<th> {{lesson_number}}</th>
				<th> {{{lesson_title}}} </th>
				<th> <a href="/classes/{{../class._id}}/lessons/{{lesson_number}}"> View Lessons </a> </th>
			</tr>
		{{/each}}
	</tbody>
</table>
</div>

<div id="rating"></div>

<div class="ui modal center">
  <i class="close icon"></i>
  <div class="header">
    Star the class
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="{{class.image_url}}">
    </div>
    <div class="description">
      <div class="ui header">Are you sure?</div>
    </div>
  </div>
  <div class="actions">
    <div id="cancel" class="ui black deny button">
      Cancel
    </div>
    <div id="ok" class="ui positive right labeled icon button">
      Ok
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>

<script src="/javascripts/ratingBundle.js"></script>